.content-block__container_feedback {
    padding-top: 35px;
}

.feedback-form {
    width: 403px;
    margin: auto;
}

.server-message_feedback{
    margin: 38px 0 0;
}

.g-recaptcha{
    width: 302px;
    height: 76px;
    border-radius: 3px;
    padding: 0;
    border: none;
}