.content-block__container_login {
    padding: 39px 38px;
    position: absolute;
    width: 332px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -166px;
    border-radius: 5px;
}

.login-form {
    position: relative;
}

.input__text_login {
    padding: 12px 9px 12px 71px;
    width: 254px;
}

.input__text_login:focus {
    border-color: #48cbe8;
}

.input {
    position: relative;
    margin-bottom: 24px;
}

.input_login-pass {
    margin-bottom: 17px;
}

.input__label_login {
    display: block;
    padding: 0;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
    width: 23px;
    font-size: 0;
    z-index: 1;
}

.input__label_login-email {
    height: 17px;
    top: 13px;
    background-position: -37px -19px;
}

.input__label_login-pass {
    width: 23px;
    height: 20px;
    top: 13px;
    background-position: -2px -27px;
}

.input__label_login:after {
    display: block;
    content: '';
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -13px;
    left: 29px;
    width: 11px;
    height: 41px;
    background-position: -694px -5px;
    z-index: 1;
}

.input__button_submit-login {
    margin: auto;
    padding: 11px 52px;
    width: 152px;
    float: none;
}

.login-form__checkbox {
    display: none;
}

.login-form__checkbox-label {
    display: inline-block;
    cursor: pointer;
    padding-left: 28px;
    position: relative;
    margin-bottom: 22px;
    line-height: 14px;
}

.login-form__checkbox-label:before {
    display: block;
    content: '';
    position: absolute;
    left: -4px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -301px -26px;
}

.login-form__checkbox:checked + .login-form__checkbox-label:before {
    background-position: -327px -26px;
}