.work{
    display: inline-block;
    width: 164px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #c5c5c5 0%, #b6b6b6 49%, #909090 100%);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.07);
    overflow: hidden;
    margin: 0 0 33px 30px;
    vertical-align: top;
    position: relative;
}
.work__img-wrapper{
    display: block;
    position: relative;
}
.work__img{
    display: block;
    height: 100%;
    margin: auto;
}
.work__link{
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-size: 13px;
    line-height: 33px;
    vertical-align: middle;
    background: rgba(65,64,64,0.07);
    box-shadow: inset 0 -2px 1px 0 #e7e6e6;
    font-family: 'Open Sans Semibold', sans-serif;
    border-top: 2px solid #b6b6b6;
}
.work__link:hover{
    background: rgba(65,64,64,0.11);
}
.work__link:active{
    background: rgba(65,64,64,0.08);
}
.work__description{
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans Light', sans-serif;
    padding: 6px;
}
.content-block__container{
    padding-left: 9px;
    padding-bottom: 3px;
}
.link-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    left: 0;
    top: 0;
    background: rgba(111,109,109,0.41);
    opacity: 0;
}
.link-wrapper:hover{
    opacity: 1;
}
.img-link{
    display: block;
    position: relative;
    line-height: 20px;
    top: 50%;
    margin-top: -11px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background: rgba(111,109,109,0.41);
    text-transform: uppercase;
    text-align: center;
    transform: scale(0);
    transition: all 0.5s;
}
.link-wrapper:hover .img-link{
    transform: scale(1);
}
.content-ico{
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #f7f7f7;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -27px;
    box-shadow: inset 1px 1px 0 0 rgba(199,199,199,0.75),
    0 1px 0 0 #fff;
}
.content-ico:after{
    display: block;
    content: '';
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}
.content-ico_photo{
    top: 25px;
    left: 50%;
    margin: 0 0 0 -27px;
}
.content-ico_photo:after{
    width: 21px;
    height: 21px;
    background-position: -365px -28px;
    margin: 18px 0 0 18px;
}
.work__add-text{
    padding: 90px 21px 24px;
    font-family: 'Open Sans Semibold', sans-serif;
}
.work__add-link{
    display: block;
    text-decoration: none;
    color: inherit;
    background: linear-gradient(to top, #edebea 0%, #fbf9f9 94%, #ffffff 100%);
    box-shadow: inset 0 -2px 3px rgba(0,0,0,0.05),
    0 0 0 3px #f6f7f7;
}
.work__add-link:hover{
    background: linear-gradient(to top, #e2e0df 0%, #fbf9f9 94%, #ffffff 100%);
}
.work__add-link:active{
    background: linear-gradient(to top, #d5d3d2 0%, #fbf9f9 94%, #ffffff 100%);
}

