.work {
    display: inline-block;
    width: 164px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-image: -webkit-linear-gradient(bottom, #fff, #fff),
    -webkit-linear-gradient(bottom, #c5c5c5 0%, #b6b6b6 49%, #909090 100%);
    background-image: linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #c5c5c5 0%, #b6b6b6 49%, #909090 100%);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.07);
    overflow: hidden;
    margin: 0 0 30px 30px;
    vertical-align: top;
    position: relative;
}

.work__img-wrapper {
    display: block;
    height: 119px;
    overflow: hidden;
    position: relative;
}

.work__img {
    display: block;
    height: 100%;
    margin: auto;
}

.work__link {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-size: 13px;
    line-height: 33px;
    vertical-align: middle;
    background: rgba(65, 64, 64, 0.07);
    box-shadow: inset 0 -2px 1px 0 #e7e6e6;
    font-family: 'Open Sans Semibold', sans-serif;
    border-top: 2px solid #b6b6b6;
}

.work__link:hover {
    background: rgba(65, 64, 64, 0.11);
}

.work__link:active {
    background: rgba(65, 64, 64, 0.08);
}

.work__description {
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans Light', sans-serif;
    padding: 6px;
}

.content-block__container {
    padding-left: 9px;
    padding-bottom: 3px;
}

.link-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    left: 0;
    top: 0;
    background: rgba(111, 109, 109, 0.41);
    opacity: 0;
}

.link-wrapper:hover {
    opacity: 1;
}

.img-link {
    display: block;
    position: relative;
    line-height: 20px;
    top: 50%;
    margin-top: -11px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background: rgba(111, 109, 109, 0.41);
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.link-wrapper:hover .img-link {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.work__add-text {
    padding: 90px 21px 24px;
    font-family: 'Open Sans Semibold', sans-serif;
}

.work__add-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    background: -webkit-linear-gradient(bottom, #edebea 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(to top, #edebea 0%, #fbf9f9 94%, #ffffff 100%);
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.05),
    0 0 0 3px #f6f7f7;
}

.work__add-link:hover {
    background: -webkit-linear-gradient(bottom, #e2e0df 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(to top, #e2e0df 0%, #fbf9f9 94%, #ffffff 100%);
}

.work__add-link:active {
    background: -webkit-linear-gradient(bottom, #d5d3d2 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(to top, #d5d3d2 0%, #fbf9f9 94%, #ffffff 100%);
}

.work__add-link_ico:before {
    display: block;
    content: '';
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #f7f7f7;
    position: absolute;
    box-shadow: inset 1px 1px 0 0 rgba(199, 199, 199, 0.75),
    0 1px 0 0 #fff;
    top: 25px;
    left: 50%;
    margin-left: -27px;
}

.work__add-link_ico:after {
    display: block;
    content: '';
    position: absolute;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -365px -28px;
    top: 43px;
    left: 50%;
    width: 21px;
    height: 21px;
    margin-left: -10px;
}

.popup-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(114, 112, 112, 0.72);
    z-index: 2;
    cursor: pointer;
    display: none;
}

.content-block__container_popup {
    width: 320px;
    padding: 21px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -231px 0 0 -161px;
    cursor: default;
}

.input__text_popup {
    width: 320px;
    content: '';
}

.input__text_textarea-popup {
    height: 111px;
}

.input__label_popup {
    padding-bottom: 11px;
}

.input_popup {
    margin-bottom: 9px;
}

.input__button_submit-popup {
    float: none;
    margin: 13px auto 0;
}

.popup-close {
    font-size: 0;
    position: absolute;
    top: 7px;
    right: 6px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -431px -31px;
}

.form-title_popup {
    color: #f8f7f6;
    top: -21px;
}

.input__text_upload {
    display: none;
}

.upload-label-wrapper {
    display: inline-block;
    position: relative;
}

.input__text_fake-upload {
    color: #aeadad;
    width: 268px;
    border-radius: 4px 0 0 4px;
    position: relative;
    cursor: text;
}

.fake-upload-button {
    display: block;
    position: absolute;
    width: 52px;
    height: 39px;
    border: 1px solid #d6d4d3;
    background: -webkit-linear-gradient(bottom, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(to top, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    right: -53px;
    top: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    box-shadow: inset 0 0 3px 0 #f6f7f7,
    0 2px 1px 0 rgba(9, 9, 9, 0.07);
    font-size: 0;
}

.fake-upload-button:after {
    display: block;
    content: '';
    position: absolute;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -397px -31px;
    width: 25px;
    height: 18px;
    top: 50%;
    left: 14px;
    margin-top: -9px;
    cursor: pointer;
}

.fake-upload-button:hover {
    background: -webkit-linear-gradient(bottom, #d7d4d3 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(to top, #d7d4d3 0%, #fbf9f9 94%, #ffffff 100%);
}

.fake-upload-button:active {
    background: -webkit-linear-gradient(bottom, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
    background: linear-gradient(to top, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
}

.file-selected {
    color: #727070;
}
